@tailwind base;
@tailwind utilities;
@tailwind components;

html {
  font-size: 14px;
}
body {
  @apply bg-yellow-droplet-light text-black-droplet;
}

h1,h2,h3,h4,h5,h6 {
  @apply leading-snug
}
 
.h1 {
  @apply text-5xl font-extrabold mt-12 mb-8;
}

.h2 {
  @apply text-4xl font-bold mt-8 mb-4;
}

.h3 {
  @apply text-3xl;
}

.h4 {
  @apply text-2xl font-medium mt-4 mb-2;
}

.h5 {
  @apply text-xl;
}

p {
  @apply font-serif text-lg mt-2;
}

button a {
  color: inherit;
  text-decoration: none;
}

button a:visited, button a:hover {
  color: inherit;
}

.y-scroll-offset {
  margin-left: calc(100vw - 100%);
}
